@media print {
    body,
    header,
    .main-wrapper,
    .nav,
    main,
    footer {
      color: black;
      background: none;
      box-shadow: none;
      text-shadow: none;
    }
  
    body {
      font-family: Arial, sans-serif;
      display: block;
      min-height: 0;
      margin: 0;
      padding: 0;
    }
  
    header,
    .nav,
    footer,
    .nav a,
    #showFormButton,
    input[type="submit"],
    #createObjectBtn {
      display: none;
    }
  
    main {
      margin-top: 0;
    }
  
    .media-container,
    .media-row,
    .grid-wrapper,
    .form-grid2 {
      display: block;
    }
  
    dialog,
    canvas,
    .form-grid,
    .grid-wrapper,
    .form-grid2 {
      border: none;
    }
  
    .input-group,
    .form-field {
      margin-bottom: 5px;
    }
  
    figure img {
      max-width: 100%;
      page-break-inside: avoid;
    }
  
    h2 mark {
      background-color: transparent;
    }
  
    #objectDisplay {
      background-color: #fff;
      overflow: visible;
      page-break-inside: avoid;
    }
  }