@media print {
    body {
        font-family: Arial, sans-serif;
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
            "header"
            "main"
            "footer";
        background-color: white;
        color: black;
    }

    header {
        grid-area: header;
        background-color: white;
        color: black;
        text-align: center;
    }

    .main-wrapper {
        grid-area: main;
    }

    .nav {
        display: none;
    }

    .media-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
        padding: 20px;
        background-color: white;
        box-shadow: none;
    }

    .media-row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-bottom: 20px;
        align-items: center;
    }

    .nav a {
        color: black;
    }

    main {
        grid-area: main;
        display: grid;
        grid-template-rows: auto 1fr;
        gap: 20px;
    }

    h2 mark {
        background-color: white;
        color: black;
    }

    dialog {
        border: 2px solid black;
        padding: 20px;
    }

    .form-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
    
    .form-field {
        display: flex;
        flex-direction: column;
    }

    fieldset {
        border: 1px solid black;
        padding: 10px;
    }

    input[type="submit"] {
        display: none;
    }

    figure img {
        max-width: 100%;
    }

    footer {
        grid-area: footer;
        background-color: white;
        color: black;
        text-align: center;
        padding: 20px 0;
    }
    
    .grid-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .form-grid2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        gap: 20px;
    }
}